<h1>Contact Logs</h1>
<%= render @contact_logs unless @contact_logs.nil? %>
<%= paginate @contact_logs %>
<br>
<br>
<span>Back to the contacts</span>
<br>
<div>
  <%= link_to "Contacts", root_path%>
</div>
