  <ul class="nav justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log-in", new_user_session_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign-up", new_user_registration_path, class: "nav-link active" %>
        </li>
      <% end %>
    </ul>
